.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.sidebarWithMediaContainer {
  display: flex;
}

.sidebar {
  width: 20%;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mediaContainer {
  width: 80%;
}
